.how-it-work {
    background-color: #333333;
    padding:  55px 65px 120px;

    @include breakpoint($laptop-bp) {
        padding: 40px 30px 80px;
    }

    @include breakpoint($tablet-bp) {
        padding: 40px 15px 60px;
    }

    @include breakpoint($tablet-bp) {
        padding: 40px 0;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        padding: 45px 0 0;
        width: 90%;
        margin: 0 auto;
        position: relative;

        @include breakpoint($laptop-bp) {
            width: 100%;
        }

        @include breakpoint($tablet-bp) {
            padding: 25px 0 0;
        }

        @include breakpoint($mobile-bp) {
            padding: 10px 0 0;
        }
    }

    &__bg-shape {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 8%;
        right: 10%;
    }

    &__col {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333333;
        border-radius: 50%;
        z-index: 2;
        text-align: center;

        @include breakpoint($laptop-bp) {
            width: 25%;
        }

        i {
            font-size: 58px;
            margin: 0 0 30px;

            @include breakpoint($tablet-bp) {
                font-size: 30px;
                margin-bottom: 20px;
            }

            @include breakpoint($mobile-bp) {
                font-size: 20px;
                margin-bottom: 15px;
            }
        }
    }

    &__search {
        color: $blue;
    }

    &__select {
        color: #ff6363;
    }

    &__enjoy {
        color: #0793e4;
    }

    &__title {
        font-family: $aleo-400;
        font-size: 36px;
        color: $text-gray;

        @include breakpoint($laptop-bp) {
            font-size: 26px;
        }

        @include breakpoint($tablet-bp) {
            font-size: 18px;
        }

        @include breakpoint($mobile-bp) {
            font-size: 15px;
        }
    }

    
}