.proposes {
    display: flex;
    flex-direction: column;

    &__col {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        padding: 220px 0 100px;

        @include breakpoint($mobile-bp) {
            padding: 100px 0 50px;
        }

        .container {
            display: flex;
        }

        &:last-child .container{
            justify-content: flex-end;
        }
    }

    &__content {
        padding: 50px 30px;
        background-color: rgb(35, 35, 35, .9);
        width: 50%;

        @include breakpoint($laptop-bp) {
            width: 65%;
        }

        @include breakpoint($tablet-bp) {
            width: 100%;
        }

        @include breakpoint($mobile-bp) {
            text-align: center;
            padding: 25px 15px;
        }
    }

    &__subtitle {
        display: block;
        color: $text-gray;
        margin: 0 0 30px;
        font-size: 20px;
        letter-spacing: .075em;

        @include breakpoint($mobile-bp) {
            font-size: 17px;
            margin: 0 0 20px;
        }
    }

    &__title {
        text-transform: uppercase;
        color: $text-white;
        font-size: 20px;
        margin: 0 0 30px;

        @include breakpoint($mobile-bp) {
            font-size: 17px;
            margin: 0 0 20px;
        }
    }

    &__text {
        color: $text-gray;
        font-size: 16px;
        line-height: 26px;
        margin: 0 0 50px;

        @include breakpoint($mobile-bp) {
            font-size: 14px;
            line-height: 22px;
            margin: 0 0 30px;
        }
    }
}