.why-us {
    padding: 120px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include breakpoint($tablet-bp) {
        padding: 100px 0;
    }

    @include breakpoint($mobile-bp) {
        padding: 70px 0;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint($tablet-bp) {
            flex-direction: column;
        }
    }

    &__col {
        width: 50%;

        @include breakpoint($tablet-bp) {
            width: 80%;
        }
    
        @include breakpoint($mobile-bp) {
            width: 90%;
        }

        &:first-child {
            padding: 85px 15px 0 0;

            @include breakpoint($tablet-bp) {
                margin: 0 0 60px;
                padding: 0 15px;
            }
        }

        &:last-child {
            padding: 0 0 0 80px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include breakpoint($tablet-bp) {
                padding: 0;
                align-items: center;
            }
        }
    }

    &__title {
        font-family: $aleo-400;
        font-size: 36px;
        color: $text-white;
        margin: 0 0 60px;

        @include breakpoint($tablet-bp) {
            text-align: center;
            font-size: 32px;
            margin: 0 0 45px;
        }
    
        @include breakpoint($mobile-bp) {
            font-size: 28px;
            margin: 0 0 30px;
        }
    }

    &__text {
        color: $text-gray;
        font-size: 16px;
        letter-spacing: .1em;
        line-height: 26px;

        @include breakpoint($tablet-bp) {
            font-size: 14px;
            letter-spacing: .08em;
            line-height: 22px;
            text-align: center;
        }

        p {
            margin: 0 0 40px;

            @include breakpoint($tablet-bp) {
                margin: 0 0 30px;
            }
        
            @include breakpoint($mobile-bp) {
                margin: 0 0 20px;
            }
        }
    }

    &__img {
        max-width: 350px;
        height: 220px;
        width: 100%;
        overflow: hidden;

        &:hover {
            & img {
                transform: scale(1.3);
                transition-duration: 5s;
            }
        }

        img {
            object-fit: cover;
            transition: transform 2s ease-in-out;
        }

        @include breakpoint($laptop-bp) {
            max-width: 300px;
            height: auto;
        }

        @include breakpoint($tablet-bp) {
            max-width: 100%;
            width: 90%;
        }
    
        @include breakpoint($mobile-bp) {
            width: 100%;
        }

        &:first-child {
            margin: 0 0 5px;

            @include breakpoint($laptop-bp) {
                margin: 0 0 15px;
            }

            @include breakpoint($tablet-bp) {
                margin: 0 0 40px;
            }
        }

        &:last-child {
            align-self: flex-end;

            @include breakpoint($tablet-bp) {
                align-self: center;
            }
        }
    }
}