.header {
    background-color: $blue;
    position: sticky;
    top: -1px;
    right: 0;
    left: 0;
    z-index: 5;

    &.active {
        .header__list {
            transform: translateX(0);
            pointer-events: all;

            &::before,
            &:after {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
        }

        .header__item {

            &:after {
                transform: rotateY(0);
                opacity: 1;
                visibility: visible;
            }
        }

        .burger-btn {
            transform: rotate(180deg);

            span {
                transform: rotateY(90deg);
                opacity: 0;
                visibility: hidden;
            }

            &::before {
                transition: all 0.4s ease-in-out .3s;
                top: 50%;
                transform: translateY(-50%) rotate(135deg);
            }

            &::after {
                bottom: 50%;
                transition: all 0.4s ease-in-out .4s;
                transform: translateY(50%) rotate(-135deg);
            }
        }
    }

    &__holder {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @include breakpoint($tablet-bp) {
            height: 65px;
        }

        @include breakpoint($mobile-bp) {
            height: 50px;
        }
    }

    &__logo {
        font-family: $josefin_sans-700;
        font-size: 24px;
        color: $text-white;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        @include breakpoint($tablet-bp) {
            font-size: 21px;
            letter-spacing: 0.08em;
        }

        @include breakpoint($mobile-bp) {
            font-size: 18px;
            letter-spacing: 0.06em;
        }
    }

    &__list {
        display: flex;
        color: $text-white;
        transition: color 0.2s linear;

        &::before,
        &:after {
            content: '';
            position: absolute;
            height: 100vh;
            width: 1px;
            background-color: rgba(255, 255, 255, .9);
            transition: transform 1s linear;
            opacity: 0;
            visibility: hidden;
    
            @include breakpoint($mobile-bp) {
                width: 3px;
            }
        }

        &::before {
            left: 0;
            transform: translateY(-100%);
        }

        &::after {
            right: 0;
            transform: translateY(100%);
        }

        &:hover {
            color: rgba(255, 255, 255, 0.3);
        }

        @include breakpoint($tablet-bp) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            padding: 70px 0;
            width: 65%;
            background-color: rgba(84, 115, 253, 0.85);
            transition: all 0.3s ease-in-out;
            pointer-events: none;

            &:hover {
                color: $text-white;
            }
        }

        @include breakpoint($mobile-bp) {
            width: 100%;
        }
    }

    &__item {
        margin: 0 0 0 40px;
        position: relative;

        @include breakpoint($tablet-bp) {
            margin: 0;
            width: 50%;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            height: 1px;
            background: linear-gradient(to right, rgba(73,107,254,1) 0%,rgba(73,107,254,1) 12%,rgba(255,255,255,0.75) 33%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.75) 67%,rgba(84,116,253,1) 88%,rgba(84,116,253,1) 100%);
            transform: rotateY(90deg);
            transform-origin: center;
            transition: transform 1s ease-in-out .5s, opacity .1s ease-in-out;
            opacity: 0;
            visibility: hidden;
        }
    }

    &__link {
        padding: 20px 0;
        text-transform: uppercase;
        font-family: $aleo-400;
        font-size: 14px;
        transition: color 0.2s linear;

        &:hover {
            color: $text-white;
        }
    }

    .burger-btn {
        width: 30px;
        height: 20px;
        position: absolute;
        bottom: 50%;
        right: 0;
        transform: translateY(50%);
        background-color: transparent;
        outline: none;
        border: 0;
        visibility: hidden;
        opacity: 0;
        display: none;
        transition: all 0.7s ease-in-out;

        @include breakpoint($tablet-bp) {
            display: block;
            visibility: visible;
            opacity: 1;
        }

        span,
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $text-white;
            transition: all 0.3s linear;
        }

        span {
            top: 50%;
            left: 5px;
            width: 20px;
            transform: translateY(-50%);
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }
}
