// breakpoints
$mobile-bp: 480px;
$tablet-bp: 768px;
$laptop-bp: 1024px;
$desktop-bp: 1280px;

// fonts
$josefin_sans-700: 'josefin_sans-700';
$josefin_sans-400: 'josefin_sans-400';

$aleo-400: 'aleo-400';

// colors
$blue: #5474fd;
$text-white: #fff;
$text-dark-white: #fefefe;
$text-gray: #e8e8e8;
$text-dark-gray: #999999;

// box-shadows
$hover-shadow: 0 0 2px 4px rgba(84, 116, 253, .5);
$active-shadow: 0 0 2px 4px rgba(84, 116, 253, .5);